@use "../abstracts/" as *;

.search-icon {
  max-width: 30px;
  height: auto;
  transition: filter 0.5s ease-in-out;

  &:hover {
    filter: drop-shadow(2px 4px 6px black);
  }
}

.weather-icon {
  max-width: 50px;
  height: auto;
  // to handle weather cards without a remove or plus icon
  &:not(:has(+ .remove-btn)):not(:has(+ .plus-icon)) {
    grid-row: 4;
  }

  @include xs-tablets-v2 {
    margin-inline-start: -1em;
  }
}

%back-button {
  display: inline-flex;
  align-self: flex-start;
  margin: {
    block: 1rem;
    inline: 1rem;
  }
  padding: 0.5em;
  border-radius: 15px;
  width: 75px;
  @include flexbox-config($justify-content: center);
  background: none;
  border: 1px solid #808080;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: -1px 7px 14px 0px rgba(0, 0, 0, 0.63);
  }
}

.remove-btn,
.plus-icon {
  max-width: 20px;
  height: 20px;
  grid-row: 4;
}

.forecast__back-button {
  @extend %back-button;
}
.search__back-button {
  @extend %back-button;
  align-self: center;
}
