@use "../abstracts/" as *;

// indicators
// tech buttons
.exploreBtn {
  margin-top: 3rem;
  padding: 2rem;
  width: 150px;
  height: 150px;
  background-color: $white;
  color: $black;
  border-radius: 50%;
}

.search-icon {
  max-width: 30px;
  height: auto;
  transition: filter 0.5s ease-in-out;

  &:hover {
    filter: drop-shadow(2px 4px 6px black);
  }
}

.weather-icon {
  max-width: 30px;
  height: auto;
}

.forecast__back-button {
  display: inline-flex;
  align-self: flex-start;
  margin: {
    block: 1rem;
    inline: 1rem;
  }
  padding: 0.5em;
  border-radius: 15px;
  width: 75px;
  @include flexbox-config($justify-content: center);
  background: none;
  border: 1px solid #808080;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: -10px 14px 14px 0px rgba(0, 0, 0, 0.63);
  }
}

.remove-btn {
  max-width: 20px;
  height: 20px;
}
