@use "../abstracts/" as *;

// skeleton card placeholder while api call loading
.skeleton-card {
  animation: {
    name: loading;
    duration: 1.5s;
    iteration-count: infinite;
  }
  width: max(200px, 60vw);
  padding: 4em;
  border: none;
  border-radius: 10px;
  background-color: $skeleton-card;
  margin-block-start: 1em;
  margin-block-end: 10em;
}

// animation
@keyframes loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
