@use "../abstracts/" as *;

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
// weather cards used throughout app
.card {
  max-width: 100%;
  width: 100%;
  border: none;
  border-radius: 10px;
  height: auto;
  padding: {
    inline: 2.4rem;
    block: 0.5rem;
  }
  background-color: $card-bg;
  margin-block: 1em;
  transition: box-shadow 0.3s ease-in-out;
  @include xs-tablets {
    margin-block-end: 1em;
  }
  @include xs-tablets-v2 {
    justify-items: start;
  }
  &:hover {
    cursor: pointer;
    box-shadow: -10px 14px 14px 0px rgba(0, 0, 0, 0.63);
  }
}

.weather-icon {
  max-width: 30px;
  height: 30px;
  display: block;
  align-self: center;
}

.card__container {
  @include flexbox-config($justify-content: space-between);
  flex-wrap: wrap;
  padding-block: 1.5rem;
}

.card__text {
  grid-template-columns: 1fr;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin-inline-end: 1em;
  @include xs-tablets-v2 {
    margin-block-end: 1em;
  }
  > h3 {
    grid-row: 1;
    color: $white;
    font-size: clamp(1.25rem, 0.714rem + 2.857vw, 2.5rem);
    + p {
      grid-row: 3;
    }
  }
}

.card__icons {
  grid-template-columns: 1fr;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;

  @include xs-tablets-v2 {
    justify-items: start;
  }
  .card__temp {
    grid-row: 1;
  }
}
