@use "../abstracts/" as *;

// custom props used in javascript for dynamic backgrounds
:root {
  --default-bg: linear-gradient(
    90deg,
    rgba(28, 31, 31, 1) 0%,
    rgba(238, 238, 238, 0.8646052170868348) 0%,
    rgba(107, 191, 219, 1) 0%,
    rgba(219, 227, 222, 1) 100%
  );
  --sunny: #fff04d;
  --rain: #0d4eff;
  --clouds: #cbd0d4;
  --snow: #fffaf7;
}

.forecast-body {
  background: var(--default-bg);
  background-image: var(--default-bg);
}
.forecast {
  @include flexbox-config($flex-direction: column, $align-items: center);
  .forecast__weather-today {
    margin-block-start: 2rem;
    display: contents;
    color: $black;

    .forecast__date {
      border: 1px solid currentColor;
      border-radius: 20px;
      padding: {
        block: 0.5em;
        inline: 0.7em;
      }
      margin-block: 1em;
      color: grey;
      background-color: $black;
    }
  }
  .forecast__description {
    margin-block-start: 2em;
  }

  .forecast__temp {
    font-size: clamp(2.5rem, 1.818rem + 3.636vw, 5rem);
    font-weight: 500;
    margin-block: 0.5em;
  }
}

.forecast__back-btn {
  align-self: flex-start;
  margin-block: 2em;
}

.forecast__daily-summary {
  @include flexbox-config($justify-content: space-between);
  padding: 1em;
  margin-block-end: 2em;
  border: 1px solid $black;
  border-radius: 20px;
  color: $white;
  background: $black;
  flex-wrap: wrap;
  width: min(500px, 80vw);
  @include sm-tablets-max-width {
    justify-content: center;
  }
  .forecast__daily-summary-item {
    padding: 2em;
    width: min(150px, 100%);
    @include flexbox-config($flex-direction: column, $align-items: center);
  }
}

.forecast__list {
  @include flexbox-config($justify-content: center, $align-items: center);
  margin-block: 1em;
  width: 100vw;
  flex-wrap: wrap;
  gap: 0.5em;
  font-size: 12px;
  .forecast__list-item {
    padding: {
      block: 2.5em;
      inline: 0.5em;
    }
    border: 1px solid $border-button;
    border-radius: 20px;
    background-color: transparent;
    @include flexbox-config($flex-direction: column, $align-items: center);

    > h3 {
      margin-block-end: 1em;
    }
  }
}

.forecast__daily-summary-weather-icon {
  aspect-ratio: 5/6;
  filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(348deg)
    brightness(106%) contrast(104%);
  width: clamp(2.5rem, 1.25rem + 4vw, 3.75rem);
}

.forecast__forecast-summary-weather-icon {
  aspect-ratio: 5/6;
  width: clamp(3.125rem, 1.786rem + 7.143vw, 6.25rem);
}
