@use "../abstracts/" as *;

.landing-page,
.search {
  background: rgb(219, 227, 222);
  background: linear-gradient(
    90deg,
    rgba(28, 31, 31, 1) 0%,
    rgba(238, 238, 238, 0.8646052170868348) 0%,
    rgba(107, 191, 219, 1) 0%,
    rgba(219, 227, 222, 1) 100%
  );

  .landing-page__header {
    // @include flexbox-config($justify-content: center);
    .landing-page__nav {
      @include flexbox-config(
        $flex-direction: column,
        $justify-content: center,
        $align-items: center
      );
      width: 100vw;
    }
  }
}

.landing-page__search-blurb {
  @include flexbox-config(
    $flex-direction: row,
    $justify-content: space-between
  );
  flex-wrap: wrap;
}

.landing-page-container {
  @include flexbox-config($flex-direction: column, $align-items: center);
}

.location-container {
  border-bottom: 2px dashed #000000;
  margin-block-end: 2rem;
  padding-block-end: 2rem;
}

.location-container,
.favorites,
.search-results {
  max-width: 60%;
  width: 60%;
}

.favorites {
  .favorite {
    &:last-child {
      margin-block-end: 5rem;
    }
  }
}
