@use "../abstracts/" as *;

.search {
  @include flexbox-config($flex-direction: column, $justify-content: center);

  .search__section {
    @include flexbox-config(
      $flex-direction: column,
      $align-items: center,
      $justify-content: center
    );

    min-height: 100vh;
  }
}
.search-form {
  display: flex;
  margin-block-start: 2em;
  width: clamp(12.5rem, 4.464rem + 42.857vw, 31.25rem);
  @include xs-tablets-v2 {
    flex-wrap: wrap;
  }

  .search-input {
    background: {
      image: url("../../images/research.png");
      repeat: no-repeat;
      size: 20px 20px; /* size of the image */
      position: 10px;
    }
    border-radius: 20px;
    margin-inline-end: 0.4em;
    padding: {
      inline-start: 2.5em;
      block: 0.5em;
    }
    flex: 0 1 100%;
    @include flexbox-config($justify-content: center);

    + .search-btn {
      display: inline-flex;
      border-radius: 20px;
      background-color: #db876b;
      color: #ffffff;
      justify-content: center;
      padding: 0.5em;
      flex: 0 3 100%;
      flex-wrap: wrap;
      transition: box-shadow 0.3s ease-in-out;
      @include xs-tablets-v2 {
        margin-top: 1em;
      }
      &:hover {
        cursor: pointer;
        box-shadow: -1px 7px 14px 0px rgba(0, 0, 0, 0.63);
      }
    }
  }
}

.search-results-placeholder {
  height: 234px;
}
