// colors for use throughout the project
$lilac: #d0d6f9;
$black: #0b0d17;
$white: #ffffff;
$nav-bg: #979797;
$gray: #979797;
$border-button: #808080;
$skeleton-card: #d3d3d3;
$card-bg: #4799e5;
$search-btn: #db876b;
