* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  font-family: "Barlow", sans-serif;
  min-height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  max-width: 1600px;
}

body {
  min-height: 100svh;
  min-height: 100dvh;
}
